<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Left Side: Logo -->
        <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
          <img src="assets/images/logo1.png" alt="Logo" class="footer-logo" />
        </div>
      </div>
      <!-- Right Side: Navigation Links -->
      <div class="col-md-6">
        <!-- Website Links -->
        <div class="col-md-2">
          <h6>Website</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">Solutions</a></li>
            <li><a href="#" class="text-white">Resources</a></li>
            <li><a href="#" class="text-white">Our Company</a></li>
          </ul>
        </div>
        <!-- Products Links -->
        <div class="col-md-2">
          <h6>Products</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">LOYA</a></li>
            <li><a href="#" class="text-white">Reppoo</a></li>
          </ul>
        </div>

        <!-- Documentation Links -->
        <div class="col-md-2">
          <h6>Documentation</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Privacy Policy</a></li>
            <li><a href="#" class="text-white">Terms & Conditions</a></li>
            <li><a href="#" class="text-white">Cookie Policy</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>