
<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
      <div class="row ">
        <!-- Left: Logo Section -->
        <div class="col-md-4 col-sm-12 mb-3">
          <div class="d-flex align-items-center">
            <img src="assets/images/logo.png" alt="Logo" class="img-fluid me-2" style="max-width: 50px;">
            <span class="fs-4">YourCompany</span>
          </div>
        </div>
  
        <!-- Right: Navigation Links -->
        <div class="col-md-8 col-sm-12">
          <div class="row">
            <!-- Website Links -->
            <div class="flex-btn-space">
            <div class="col-md-4 col-sm-6 mb-3">
              <h6>Website</h6>
              <ul class="list-unstyled">
                <li><a href="#" class="text-light text-decoration-none bg-dark">Home</a></li>
                <li><a href="#" class="text-light text-decoration-none">Solutions</a></li>
                <li><a href="#" class="text-light text-decoration-none">Resources</a></li>
                <li><a href="#" class="text-light text-decoration-none">Our Company</a></li>
              </ul>
            </div>
  
            <!-- Products Links -->
            <div class="col-md-4 col-sm-6 mb-3">
              <h6>Products</h6>
              <ul class="list-unstyled">
                <li><a href="#" class="text-light text-decoration-none">LOYA</a></li>
                <li><a href="#" class="text-light text-decoration-none">Reppoo</a></li>
              </ul>
            </div>
  
            <!-- Documentation Links -->
            <div class="col-md-4 col-sm-6 mb-3">
              <h6>Documentation</h6>
              <ul class="list-unstyled">
                <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
                <li><a href="#" class="text-light text-decoration-none">Terms & Conditions</a></li>
                <li><a href="#" class="text-light text-decoration-none">Cookie Policy</a></li>
                <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </footer>
  