<!-- Background Image -->
<div class="hero">
    <!-- Use img-fluid class for responsive image -->
    <img src="assets/images/Hero.png" class="img-fluid" alt="Hero Image">
    <div class="d-flex flex-column justify-content-end align-items-center h-100">
        <!-- Buttons -->
        <div class="mb-4 d-flex justify-content-center gap-3 rx ">
            <a data-mdb-ripple-init class="btn btn-dark btn-lg d-flex align-items-center gap-2" 
               href="#" 
               role="button" 
               rel="nofollow" 
               target="_blank">
                <i class="ri-send-plane-fill" style="font-size: 24px; color: rgb(255, 255, 255);"></i>
                Reach Us
            </a>
            <a data-mdb-ripple-init class="btn btn-outline-dark btn-lg" 
               href="#" 
               target="_blank" 
               role="button">
                Learn More
            </a>
        </div>
    </div>
</div>
