@import "~bootstrap/dist/css/bootstrap.min.css";

* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 16px;
    color: #606060;
}
.custom-navbar {
    width: 1440px;
    height: 104px;
    max-width: 100%; /* Ensures responsiveness */
    margin: 0 auto; /* Centers the navbar */
}
img[_ngcontent-ng-c1273260300],
svg[_ngcontent-ng-c1273260300] {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.navbar .btn {
    margin-left: 10px;
}

.navbar-collapse a {
    display: inline-block;
    position: relative;
    color: #000000;
    text-decoration: none;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 2px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a {
    text-decoration: none;

    background-color: transparent;
    color: inherit;

    position: relative;
    cursor: pointer;

    font-size: 20px;
    font-weight: 500;
}

a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 1px;
    background: currentColor;

    transform: scale3d(0, 1, 1);
    transition: transform 0.4s ease-in-out;
    transform-origin: top right;
}

a:hover:before {
    transform: scale3d(1, 1, 1);
    transform-origin: top left;
}



.li {
    margin-left: 4px;
    margin-right: 4px;

}

.btn {
    display: inline-block;
    position: relative;
    color: #000000;
    text-decoration: none;
    width: 152px;
    height: 56px;
}

/* Default Text Color */
.navbar .nav-link {
    color: rgba(96, 96, 96, 1);
    ; /* Blue text */
    transition: color 0.3s ease;
  }
  
 
  .navbar .nav-link:hover {
    color: #000000; 
  }
  
  /* Dropdown Hover Effect */
  .navbar .dropdown-item:hover {
    background-color: #f8f9fa; 
  }
  
  /* Contact Button Styling */
  .navbar .btn {
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .navbar .btn:hover {
    background-color: #343a40; 
  }
  .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    line-height: 20.83px;
    transition: font-weight 0.3s ease; /* Smooth hover effect */
}

/* Hover Effect */
.navbar-nav .nav-link:hover {
    font-weight: 600;
}

/* Active State (if needed) */
.navbar-nav .nav-link.active {
    font-weight: 600;
}

/* Button Text Styling */
.navbar-nav .btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
}

.navbar-nav .btn:hover {
    font-weight: 600;
}
#navBar {
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: #DEDEDE;
    transition: 0.2s;
    display: flex;
  }
  
  .floatingNav {
    width: calc(100vh - 100px); 
    border-radius: 2px;
    box-shadow: 0px 1px 10px #999;
  }